---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="sobre mi" description="">
    <a href="/">Inicio</a>
    <a href="/blog">Blog</a>
    <main>
        <h1 class="font-bold text-3xl">Sobre mi</h1>
        <h2>Este es una pagina que cree para practicar Astro pero <strong> posiblemente </strong> la vuelva una pagina para hablar un poco sobre cosas que me interesan y de mi en general.</h2>
        
    </main>
</Layout>
