---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Blog personal de crow donde puedes ver informacion de programacion, desarrollo y tambien pensamientos personales"
	description="Bienvenidos a mi blog, puedes ver topics de cualquier tipo; cosas personales como cosas de programacion que me interesaron."
>
<a href="/about">sobre mi</a>
<a href="/blog">blog</a>
	<main>

	</main>
</Layout>
